
body {
    color:black;
    font-size:25px;
    }
    
    p {
    color:red;
    font-size:25px;
    }
    
    .baslik {
    color:navy;
    font-size:30px;
    border:1px;solid;
    }
    
    #id5 {
    color:purple;
    font-size:25px;
    }
    
    
    * {
    background-color:white;
    
    }
    
    .kenar1{
    color:black;
    font-size:25px;
    border:1px solid blue;
    padding:15px;
    border-radius:25px;
    background-color:#4377B9;
    }
    
    
    a.link1:link {color:blue; text-decoration:none;}
    a.link1:hover {color:red;font-size:35px;text-decoration:underline;}
    a.link1:visited {color:yellow;}
    a.link1:active {color:green;font-size:15px;}
    
    
    
    
    
    